@{
    Layout = null;
}
@using login_signup.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>UploadImg</title>
</head>
<body>

    <div>
        <form action="/Admin/Upload" method="post" enctype="multipart/form-data">

            <div class="col-lg-2" >
                Catagory :
                <select class="form-control" name="category">
                    @{
                        foreach (Category c in Model)
                        {
                            <option value="@c.Name">@c.Name</option>
                        }

                    }

                </select>

                Access:
                <select class="form-control" title="Access" name="Access">
                    <option value="public">Public</option>
                    <option value="public">Private</option>
                </select>


                <p>Image: <input type="file" name="file" /></p>
                <input type="submit" value="Upload" />

            </div>
         


               


        </form>
    </div>

    @*<div>
        <h2>Basic File Upload</h2>
        @using (Html.BeginForm ("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" value="Upload Image" />
            <br><br>
            @ViewBag.Message
}
    </div>*@


    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
